body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #F6F1EE;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }

 .main {
    flex: 1;
    margin-right: 0;
  }
  
h1 {
    font-size: 5rem;
    color: #4F4A45
  }

h2{
  font-size: 2rem;
  margin-top:0;
  margin-bottom: 0;

}

p{
  font-size: 1.5rem;
  margin-right: 15px;

}

h2, p{
  color: #6C5F5B;
}


footer {
    text-align: right;
    color: midnightblue;
  }
  
.tile-image{
    height: 300px;
    width: 400px;
    float: left;
    margin-right:15px;
}

div>.card{
    float: left;  
    width: 33%; 
    margin-bottom: 50px;
    
  }
 
span{
  color: #ED7D31;
}   


@media (max-width:680px){
  .logo{
    width: 100%;
  }


  h1{
    width: 100%;
    font-size: 3rem;
  }

  .card> img{
    width: 100%;
    object-fit: cover;
  }

  div> .card{
    width: 100%;
    margin-bottom: 10px; 
    text-align: justify;
 }

}

